body {
  overflow: hidden;
}

.grid {
  display: grid;
  height: 100dvh;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-layer {
  flex: none;
  height: 100%;
  width: 100%;
  background: var(--gradient);
}
