body {
  overflow: hidden;
  height: 100vh;
}

#app {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
  /* grid-template-rows: repeat(auto-fit, minmax(10px, 1fr)); */
  height: 100%;
}

.full-width {
  grid-column: 1 / -1;
}

.grid {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(var(--columns), 1fr);
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.column-layer {
  flex: none;
  height: 100%;
  width: 100%;
  background: var(--gradient);
}
