body {
  overflow: hidden;
  height: 100dvh;
  background: #fff;
}

#app {
  animation: squigglevision 0.3s infinite;
}

@keyframes squigglevision {
  0% {
    filter: url('#squiggly-0');
  }
  25% {
    filter: url('#squiggly-1');
  }
  50% {
    filter: url('#squiggly-2');
  }
  75% {
    filter: url('#squiggly-3');
  }
  100% {
    filter: url('#squiggly-4');
  }
}
